*.class
*.jar
*.swp
dependency-reduced-pom.xml
asm-9.7.jar
google-java-format-1.22.0-all-deps.jar
cody_history.xml
target/
.DS_Store
.gradle/
.java-version
build/
gradle/
gradlew
gradlew.bat
.idea/
*.iml
*.iws
*.ipr
out/
src/test/_Deparsed_XSubs.pm

