*.class
*.jar
*.swp
*.bak
dependency-reduced-pom.xml
asm-9.7.jar
google-java-format-1.22.0-all-deps.jar
cody_history.xml
target/
.DS_Store
.gradle/
.java-version
build/
gradle/
gradlew
gradlew.bat
.idea/
*.iml
*.iws
*.ipr
out/
src/test/_Deparsed_XSubs.pm

# Ignore Perl test suite files
t/
# But don't ignore these two specific files
!t/README.md
!t/test.pl

